$backgroundcolor: #8ca1e9;
$white: #e2e2e2;

$colorheader1: #04128b;
$colorheader2: #a31309;
$colorheader3: #0a574c;

$colorsuccess: #000000;
$colorerror: #000000;
$colorwarning: #000000;

$fontsuccess: #679962;
$fonterror: #962c2c;
$fontwarning: #bcbe47;

$colorborder1: #ccc;
$colorborder2: #333;