$backgroundcolor: #8ED081;
$white: #ffffff;

$colorheader1: #B4D2BA;
$colorheader2: #4B543B;
$colorheader3: #B57F50;

$colorsuccess: #008000;
$colorerror: #ff0000;
$colorwarning: #ffff00;

$colorborder1: #ccc;
$colorborder2: #333;